In [1]:
import pandas as pd
alunos_df = pd.read_csv('alunos tp situação.csv', sep=';', encoding='latin1')

In [2]:
alunos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12043993 entries, 0 to 12043992
Data columns (total 24 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unnamed: 0                      int64
 1   CO_IES                          int64
 2   TP_CATEGORIA_ADMINISTRATIVA     int64
 3   TP_ORGANIZACAO_ACADEMICA        int64
 4   CO_CURSO                        int64
 5   CO_CURSO_POLO                   float64
 6   TP_TURNO                        float64
 7   TP_GRAU_ACADEMICO               float64
 8   TP_MODALIDADE_ENSINO            int64
 9   TP_SITUACAO                     int64
 10  IN_INGRESSO_VESTIBULAR          int64
 11  IN_INGRESSO_ENEM                int64
 12  IN_FINANCIAMENTO_ESTUDANTIL     float64
 13  IN_FIN_REEMB_FIES               float64
 14  IN_FIN_REEMB_ESTADUAL           float64
 15  IN_FIN_REEMB_MUNICIPAL          float64
 16  IN_FIN_REEMB_PROG_IES           float64
 17  IN_FIN_NAOREEMB_PROUNI_INTEGR   float64
 18  IN_FIN_NAOREEMB_PROUNI_PARCIAL  float64
 19  IN_FIN_NAOREEMB_ESTADUAL        float64
 20  IN_FIN_NAOREEMB_MUNICIPAL       float64
 21  IN_FIN_NAOREEMB_PROG_IES        float64
 22  IN_COMPLEMENTAR_PESQUISA        float64
 23  IN_BOLSA_PESQUISA               float64
dtypes: float64(15), int64(9)
memory usage: 2.2 GB

### Contando o número de alunos em cada IES e exportando para um csv:

In [ ]:
alunos_nIES = alunos_df['CO_IES'].value_counts()
display(alunos_nIES)
alunos_nIES.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\numero_alunos.csv', sep=';', encoding='latin1')

### Separando apenas por cursos de GRADUAÇÃO PRESENCIAIS:

In [2]:
alunos_pres = alunos_df[alunos_df['TP_MODALIDADE_ENSINO'].isin([1])]
alunos_pres_grad = alunos_pres[alunos_pres['TP_GRAU_ACADEMICO'].isin([1, 2, 4])]
display(alunos_pres_grad)

,Unnamed: 0,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_SITUACAO,...,IN_FIN_REEMB_ESTADUAL,IN_FIN_REEMB_MUNICIPAL,IN_FIN_REEMB_PROG_IES,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,IN_FIN_NAOREEMB_ESTADUAL,IN_FIN_NAOREEMB_MUNICIPAL,IN_FIN_NAOREEMB_PROG_IES,IN_COMPLEMENTAR_PESQUISA,IN_BOLSA_PESQUISA
0,0,1,1,1,1,NaN,3.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,1,1,1,1,1,NaN,3.0,1.0,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,1,1,1,NaN,3.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1,1,1,1,NaN,3.0,1.0,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,1,1,1,NaN,3.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12043676,12043676,23410,2,1,1404108,NaN,4.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12043677,12043677,23410,2,1,1404108,NaN,4.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12043678,12043678,23410,2,1,1404108,NaN,4.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12043679,12043679,23410,2,1,1404108,NaN,4.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12043680,12043680,23410,2,1,1404108,NaN,4.0,1.0,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Verificando se os cursos técnicos foram removidos mesmo:
alunos_ctec = alunos_pres_grad[['CO_IES', 'TP_GRAU_ACADEMICO']]
ctec_count = alunos_ctec.value_counts()
ctec_count.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\tec_counts.csv', sep=';', encoding='latin1')
#Beleza! Separados.

In [4]:
#Separando apenas por IES e CONTANDO O NÚMERO DE ALUNOS/IES considerando apenas cursos PRESENCIAIS de graduação e licenciatura.
alunos_ies = alunos_pres_grad['CO_IES']
alunos_ies_count = alunos_ies.value_counts()

In [6]:
alunos_ies_count.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\2018\Python\DM_ALUNO\PRES_ALUNOS_counts.csv', sep=';', encoding='latin1')

In [ ]:
#Separando apenas por IES e curso:
alunos_cursos = alunos_pres_grad[['CO_IES', 'CO_CURSO']]
alunos_cursos.info()
display(alunos_cursos)

In [ ]:
#Fazendo o valuecounts para saber quantos alunos cada curso de cada IES tem:
alunos_cursos_count = alunos_cursos.value_counts()
alunos_cursos_count.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\PRES_curso_counts.csv', sep=';', encoding='latin1')

In [ ]:
display(alunos_cursos_count)

### MERCADO NACIONAL

In [4]:
nacional = alunos_pres_grad[alunos_pres_grad['CO_IES'].isin([7, 8, 54, 56, 151, 194, 571, 575, 581, 585, 586, 591, 592, 602, 633, 717, 849, 905, 1161, 1382, 1851, 2126, 2128, 2129, 2397, 2591, 3614, 3758, 4847, 4925, 5048, 12754 , 13695, 15401])]

In [ ]:
nacional.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\2018\Python\DM_ALUNO\2018 alunos nacional', sep=';', encoding='latin1')

### MERCADO SUDESTE

In [3]:
SE = alunos_pres_grad[alunos_pres_grad['CO_IES'].isin([6, 7, 8, 17, 22, 30, 33, 54, 55, 56, 60, 77, 93, 107, 126, 135, 137, 149, 151, 171, 194, 195, 208, 213, 217, 224, 227, 265, 267, 271, 316, 338, 361, 373, 415, 431, 489, 490, 501, 528, 546, 547, 572, 573, 574, 575, 576, 586, 591, 592, 593, 594, 595, 596, 597, 598, 602, 633, 636, 664, 672, 693, 705, 752, 790, 802, 849, 878, 890, 905, 922, 923, 944, 952, 997, 1027, 1043, 1048, 1063, 1064, 1068, 1080, 1161, 1243, 1322, 1379, 1409, 1445, 1494, 1520, 1558, 1559, 1575, 1723, 1765, 1766, 1808, 1810, 1836, 1841, 1851, 1878, 1921, 1923, 1926, 1930, 1940, 1962, 2015, 2096, 2126, 2128, 2129, 2397, 2468, 2571, 2591, 2617, 2744, 2774, 2811, 2849, 3163, 3308, 3332, 3368, 3430, 3522, 3529, 3614, 3710, 3770, 3955, 4358, 4522, 4925, 4943, 5013, 5016, 5048, 5215, 5276, 5313, 5314, 5316, 5394, 10385, 11289, 13481, 13695, 14115, 14165, 14342, 15401, 15452, 15576, 15682, 15708, 15752, 15769, 15859, 16410, 16864, 17738, 19501, 19739])]

In [4]:
SE.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\2018\Python\DM_ALUNO\2018 alunos SE_NOVO.csv', sep=';', encoding='latin1')

In [5]:
seCO = SE['CO_IES']
sec = seCO.value_counts()
sec.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\2018\Python\DM_ALUNO\2018 SE_COUNTS.csv', sep=';', encoding='latin1')

In [ ]:
#Fazendo dfs separados por Estado só pra conseguir organizar por Estado na tabela, já que no DM_ALUNO não tem info de estado da IES.
#RIO DE JANEIRO
alunos_SE_RJ = alunos_pres_grad[alunos_pres_grad['CO_IES'].isin([6, 8, 17, 30, 107, 126, 171, 338, 575, 576, 592, 594, 595, 596, 597, 598, 752, 849, 878, 890, 1068, 1558, 1575, 1923, 1926, 1940, 2015, 2096, 2849, 3368, 3430, 3522, 3955, 4358, 5276, 5313, 5316, 5394, 14115, 14165, 15452, 267, 501, 573, 664, 1063, 1064, 1243, 1379, 1409, 1494, 1559, 1766, 1808, 2397, 5314, 77, 194, 195, 489, 490, 528, 547, 572, 574, 586, 593, 633, 693, 705, 802, 944, 1027, 1080, 1851, 1962, 2126, 2468, 2571, 2591, ,2617, 3163, 3332, 3614, 3710, 5013, 5016, 13695, 14342, 17738, 7, 22, 33, 54, 56, 135, 137, 149, 151, 208, 213, 224, 227, 265, 271, 316, 361, 373, 415, 431, 546, 591, 602, 636, 672, 790, 905, 922, 923, 952, 997, 1043, 1048, 1161, 1322, 1445, 1520, 1723, 1765, 1810, 1836, 1841, 1878, 1921, 1930, 2128, 2129, 2744, 2774, 2811, 3308, 3529, 3770, 4522, 4925, 4943, 5048, 5215, 10385, 11289, 13481, 15401, 15576, 15682, 15708, 15752, 15769, 15859, 16410, 16864, 19501, 19739])
alunos_SE_RJ.info()
#238354 alunos no Estado do Rio

In [ ]:
alunos_SE_RJ.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_RJ.csv', sep=';', encoding='latin1')

In [ ]:
alunos_SE_RJ_count = alunos_SE_RJ['CO_IES'].value_counts()
alunos_SE_RJ_count.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_RJ_NUMERO.csv', sep=';', encoding='latin1')

In [ ]:
#SÃO PAULO
alunos_SE_SP = alunos_pres_grad[alunos_pres_grad['CO_IES'].isin([151, 2128, 2129, 56, 591, 1161, 5048, 15401, 905, 54, 602, 4925, 7, 22, 33, 60, 93, 135, 137, 149, 208, 213, 217, 224, 227, 265, 271, 316, 361, 373, 415, 431, 546, 636, 672, 790, 845, 922, 923, 952, 997, 1043, 1048, 1322, 1445, 1520, 1723, 1765, 1810, 1836, 1841, 1878, 1921, 1930, 2744, 2774, 2811, 3308, 3529, 3770, 4522, 4943, 5215, 10385, 11289, 13481, 15576, 15682, 15708, 15752, 15769, 15859, 16410, 16864, 19501, 19739])]
alunos_SE_SP.info()
alunos_SE_SP.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_SP.csv', sep=';', encoding='latin1')
# 467886 alunos no Estado de SP

In [ ]:
SESP_count = alunos_SE_SP['CO_IES'].value_counts()
SESP_count.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_SP_NUMERO.csv', sep=';', encoding='latin1')

In [ ]:
#MINAS GERAIS
alunos_SE_MG = alunos_pres_grad[alunos_pres_grad['CO_IES'].isin([6, 17, 575, 8, 592, 30, 107, 126, 171, 338, 576, 594, 595, 596, 597, 598, 752, 878, 890, 1068, 1558, 1575, 1940, 2015, 2096, 2849, 3368, 3430, 3522, 3955, 4358, 5276, 5313, 5316, 5394, 14115, 14165])
alunos_SE_MG.info()
alunos_SE_MG.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_MG.csv', sep=';', encoding='latin1')
#263845 alunos em MG

In [ ]:
SEMG_count = alunos_SE_MG['CO_IES'].value_counts()
SEMG_count.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_MG_NUMERO.csv', sep=';', encoding='latin1')

In [ ]:
#ESPÍRITO SANTO
alunos_SE_ES = alunos_pres_grad[alunos_pres_grad['CO_IES'].isin([267, 501, 573, 664, 1063, 1064, 1243, 1379, 1494, 1559, 1766, 1808, 5314])]
alunos_SE_ES.info()
alunos_SE_ES.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_ES.csv', sep=';', encoding='latin1')
#68736 alunos no ES

In [ ]:
SEES_count = alunos_SE_ES['CO_IES'].value_counts()
SEES_count.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\2018_SE_ES_NUMERO.csv', sep=';', encoding='latin1')

### SITUAÇÃO DE MATRÍCULA E BOLSAS DE PESQUISA

In [6]:
sit = SE[['CO_IES', 'TP_SITUACAO']]
bolsas = SE[['CO_IES', 'IN_BOLSA_PESQUISA']]

In [14]:
sit.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\2018\Python\DM_ALUNO\2018_situação matrícula.csv', sep=';', encoding='latin1')

In [9]:
bolsas.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\2018\Python\DM_ALUNO\2018_bolsas pesquisa.csv', sep=';', encoding='latin1')

In [13]:
bolsasUSP = bolsas[bolsas['CO_IES'].isin([55])]
bolsasUSP.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\2018\Python\DM_ALUNO\2018_bolsasUSP.csv', sep=';', encoding='latin1')

### PANORAMA GERAL: Calculando algumas estatísticas descritivas

In [ ]:
alunos_cat = alunos_df['TP_CATEGORIA_ADMINISTRATIVA'].value_counts()
display(alunos_cat)

In [ ]:
alunos_org = alunos_df['TP_ORGANIZACAO_ACADEMICA'].value_counts()
display(alunos_org)

In [ ]:
alunos_cursos = alunos_df['CO_CURSO'].value_counts()
display(alunos_cursos)
alunos_cursos.to_csv(r'C:\Users\jaff_\Google Drive\_Dissertação\Dados Dissertação\Python\DM_ALUNO\alunos_cursos.csv', sep=';', encoding='latin1')

In [ ]:
alunos_cursoPolo = alunos_df['CO_CURSO_POLO'].value_counts()
display(alunos_cursoPolo)

In [ ]:
alunos_grau = alunos_df['TP_GRAU_ACADEMICO'].value_counts()
display(alunos_grau)

In [ ]:
alunos_mod = alunos_df['TP_MODALIDADE_ENSINO'].value_counts()
display(alunos_mod)

In [ ]:
alunos_vest = alunos_df['IN_INGRESSO_VESTIBULAR'].value_counts()
display(alunos_vest)

In [ ]:
alunos_enem = alunos_df['IN_INGRESSO_ENEM'].value_counts()
display(alunos_enem)

In [ ]:
alunos_fin = alunos_df['IN_FINANCIAMENTO_ESTUDANTIL'].value_counts()
display(alunos_fin)

In [ ]:
alunos_fies = alunos_df['IN_FIN_REEMB_FIES'].value_counts()
display(alunos_fies)

In [ ]:
alunos_fin_est = alunos_df['IN_FIN_REEMB_ESTADUAL'].value_counts()
display(alunos_fin_est)

In [ ]:
alunos_fin_mun = alunos_df['IN_FIN_REEMB_MUNICIPAL'].value_counts()
display(alunos_fin_mun)

In [ ]:
alunos_finIES = alunos_df['IN_FIN_NAOREEMB_PROG_IES'].value_counts()
display(alunos_finIES)

In [ ]:
alunos_fin_NIES = alunos_df['IN_FIN_REEMB_PROG_IES'].value_counts()
display(alunos_fin_NIES)

In [ ]:
alunos_prouniI = alunos_df['IN_FIN_NAOREEMB_PROUNI_INTEGR'].value_counts()
display(alunos_prouniI)

In [ ]:
alunos_prouniP = alunos_df['IN_FIN_NAOREEMB_PROUNI_PARCIAL'].value_counts()
display(alunos_prouniP)

In [ ]:
alunos_fin_Nest = alunos_df['IN_FIN_NAOREEMB_ESTADUAL'].value_counts()
display(alunos_fin_Nest)

In [ ]:
alunos_fin_Nmun = alunos_df['IN_FIN_NAOREEMB_MUNICIPAL'].value_counts()
display(alunos_fin_Nmun)